
html {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    padding-left: 20px;
    padding-bottom: 20px;
}

#logo{
    height:60px;
    width:auto;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 300px;
}

tbody {
    table-layout: fixed;
    min-width: 100px;
    display: block;
}

#button {
    font-weight: bold;
}

input {
    border-radius: 5px;
}


.col-12 {
    text-align: center;
}

.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url('https://redcap.stanford.edu/api/?type=module&prefix=appointment_scheduler&page=src/images/loader-icon.jpg') 50% 50% no-repeat;
    z-index: 10000;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
}

body {
    background-color: #F9F6EF;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}